.login-container {
  background-image: url("/assets/img/login_background.png");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100%;
}

.navbar-card {
  position: fixed;
  bottom: 1rem;
  width: 90%;
  border-radius: 50px;
  background-color: rgba(15, 16, 89, 0.801);
  color: white;
  box-shadow: 4px 4px 30px rgba(15, 16, 89, 0.801);
}

ion-tab-button i {
  font-size: 35px;
}

ion-tab-button.active i {
  color: #FF0099 !important;
  box-shadow: 0px 0px 10px #FF0099;
}
