<ion-tabs>
  <div class="card mx-3 navbar-card">
    <div class="card-body p-2">
      <div class="row">
        <ion-tab-button tab="home" href="/tabs/home" class="col d-inline-block">
          <img src="assets/img/navbar/home.png" alt="" width="45">
        </ion-tab-button>
        <ion-tab-button tab="community" href="/tabs/tab2" class="col d-inline-block">
          <img src="assets/img/navbar/community.png" alt="" width="45">
        </ion-tab-button>
        <ion-tab-button tab="dice" href="/tabs/tab3" class="col d-inline-block">
          <img src="assets/img/navbar/dice.png" alt="" width="45">
        </ion-tab-button>
        <ion-tab-button tab="settings" href="/tabs/tab4" class="col d-inline-block">
          <img src="assets/img/navbar/settings.png" alt="" width="45">
        </ion-tab-button>
      </div>
    </div>
  </div>
</ion-tabs>
